In [1]:
import numpy as np
from tensorflow import keras
import pandas as pd

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()

In [3]:
data = pd.DataFrame(boston.data)

In [4]:
data.columns = boston.feature_names
data['PRICE'] = boston.target

In [5]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
print(data.shape)
data.isnull().sum()

(506, 14)

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [7]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [8]:
data.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
CRIM,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
ZN,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
INDUS,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
CHAS,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
NOX,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
RM,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
AGE,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
DIS,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
RAD,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
TAX,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
PTRATIO,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
B,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
LSTAT,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
PRICE,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000

In [9]:
from sklearn.model_selection import train_test_split

X = data[['LSTAT','RM','PTRATIO']]
y = data.PRICE

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

### Linear Regression

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [12]:
#Prediction on the test dataset
y_pred = model.predict(X_test)

In [13]:
from sklearn.metrics import mean_squared_error
rmse = (np.sqrt(mean_squared_error(y_test,y_pred)))
print(rmse)

5.990777155754288

In [16]:
#Creating the neural network model
# import keras
from tensorflow.keras.layers import Dense, Activation,Dropout
from tensorflow.keras.models import Sequential
model = Sequential()
model.add(Dense(128,activation = 'relu',input_dim =(X.shape[1])))
model.add(Dense(64,activation = 'relu'))

model.add(Dense(32,activation = 'relu'))
model.add(Dense(16,activation = 'relu'))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse', metrics=['mae'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 128)               512
_________________________________________________________________
dense_6 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_7 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_8 (Dense)              (None, 16)                528
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 17
=================================================================
Total params: 11,393
Trainable params: 11,393
Non-trainable params: 0
_________________________________________________________________

In [17]:
history = model.fit(X_train, y_train, epochs=10, validation_split=0.05, verbose = 1)
mse_nn, mae_nn = model.evaluate(X_test, y_test)

Epoch 1/10
11/11 [==============================] - 1s 15ms/step - loss: 557.3075 - mae: 21.6279 - val_loss: 488.4790 - val_mae: 19.6698
Epoch 2/10
11/11 [==============================] - 0s 4ms/step - loss: 390.7296 - mae: 17.0611 - val_loss: 294.1505 - val_mae: 13.4454
Epoch 3/10
11/11 [==============================] - 0s 4ms/step - loss: 210.8061 - mae: 11.3834 - val_loss: 149.3130 - val_mae: 9.0071
Epoch 4/10
11/11 [==============================] - 0s 4ms/step - loss: 147.3787 - mae: 9.2702 - val_loss: 135.3137 - val_mae: 9.1596
Epoch 5/10
11/11 [==============================] - 0s 4ms/step - loss: 126.6244 - mae: 8.4969 - val_loss: 102.8850 - val_mae: 7.0075
Epoch 6/10
11/11 [==============================] - 0s 4ms/step - loss: 99.6892 - mae: 7.2014 - val_loss: 78.5208 - val_mae: 5.9138
Epoch 7/10
11/11 [==============================] - 0s 6ms/step - loss: 76.8348 - mae: 6.2888 - val_loss: 60.4120 - val_mae: 5.2533
Epoch 8/10
11/11 [==============================] - 0s 5ms/step - loss: 62.6268 - mae: 5.9698 - val_loss: 59.6526 - val_mae: 5.7025
Epoch 9/10
11/11 [==============================] - 0s 5ms/step - loss: 53.2386 - mae: 5.1803 - val_loss: 51.4941 - val_mae: 5.5638
Epoch 10/10
11/11 [==============================] - 0s 3ms/step - loss: 50.2790 - mae: 5.2974 - val_loss: 51.1815 - val_mae: 5.6636
5/5 [==============================] - 0s 2ms/step - loss: 49.0653 - mae: 5.3803

In [18]:
print('Mean squared error on test data: ', mse_nn)
print('Mean absolute error on test data: ', mae_nn)

Mean squared error on test data:  49.0652961730957
Mean absolute error on test data:  5.380349636077881